.profileContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.profileImageContainer {
  width: 100%;
  margin-bottom: 20px;
}

.profileImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.profileInfo {
  margin-bottom: 20px;
}

.profileDetails {
  margin-bottom: 20px;
}

.profileDetail {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.detailLabel {
  margin-right: 10px;
  margin-left: 5px;
  color: var(--light-text-color);
}

.detailValue {
  color: var(--text-color);
}

.noData {
  font-style: italic;
  color: var(--light-text-color);
}

.editButton, .submitButton, .cancelButton {
  margin-top: 10px;
  width: 100%;
}

.editButton {
  background-color: var(--primary-color);
  border: none;
}

.editButton:hover {
  background-color: var(--secondary-color);
}

.submitButton {
  background-color: var(--secondary-color);
  border: none;
}

.submitButton:hover {
  background-color: var(--primary-color);
}

.cancelButton {
  background-color: #6c757d;
  border: none;
  margin-left: 10px;
}

.cancelButton:hover {
  background-color: var(--primary-color);
}

.followSection {
  margin-top: 20px;
}

.followList {
  border: none;
}

.followItem {
  display: flex;
  align-items: center;
  border: none;
  padding: 10px 0;
}

.followAvatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.reviewButton {
  background-color: var(--secondary-color);
  border: none;
  margin-top: 20px;
}

.reviewButton:hover {
  background-color: var(--primary-color);
}
