.postDetailContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.postDetailCard {
  margin-bottom: 20px;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.postImage {
  max-height: 400px;
  object-fit: cover;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.postMeta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  font-size: small;
  color: var(--light-text-color);
}

.postAuthor {
  margin-left: auto;
}

.postActions {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}

.actionButton {
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: var(--primary-color);
  transition: var(--transition);
}

.actionButton svg {
  margin-right: 5px;
}

.actionButton:hover {
  opacity: 0.8;
  color: var(--button-hover-color);
}

.commentsSection {
  margin-top: 30px;
}

.commentsTitle {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin-bottom: 15px;
}
