.postCard {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .postImage {
    height: 200px;
    object-fit: cover;
  }
  
  .postCard .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .postCard .btn {
    margin-top: auto;
  }
  