.commentList {
    margin-top: 20px;
  }
  
  .commentItem {
    padding: 15px 0;
    border-bottom: 1px solid var(--secondary-color);
  }
  
  .commentContent {
    margin-bottom: 10px;
  }
  
  .commentMeta {
    display: flex;
    justify-content: flex-end;
    font-size: 0.8rem;
    color: #666;
    margin-bottom: 5px;
  }
  
  .commentAuthor {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .commentDate {
    font-style: italic;
  }
  
  .commentActions {
    display: flex;
    justify-content: flex-end;
  }
  
  .actionButton {
    margin-left: 10px !important;
    padding: 5px 10px !important;
    font-size: 0.8rem !important;
    color: #D69723 !important;
    border: none !important;
  }

  .actionButton:hover {
    color: #a60d0d !important;
    background-color: transparent !important;
    border: none !important;
  }
  
  .actionButton svg {
    margin-right: 5px !important;
  }
  
  :global(.modal-content) {
    border-radius: 0.5rem;
  }
  
  :global(.modal-header) {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e0e0e0;
  }
  
  :global(.modal-footer) {
    border-top: 1px solid #e0e0e0;
  }
  