.navbar {
  background-color: var(--light-background-color) !important;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 1px solid var(--primary-color);
  box-shadow: var(--box-shadow);
}

.navbarBrand img {
  max-width: 240px;
  height: auto;
}

.navLink {
  color: var(--secondary-color) !important;
  transition: var(--transition);
  padding: 15px 10px !important;
}

.navLink:hover {
  color: var(--primary-color) !important;
}

.navLink svg {
  color: var(--secondary-color);
  margin-right: 5px;
  transition: color 0.3s ease;
}

.navLink:hover svg {
  color: var(--primary-color);
}

.profileImage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}
.dropdown-toggle::after {
  color: var(--secondary-color) !important;
  border-top-color: var(--secondary-color) !important;
}

.followDropdown .dropdown-toggle::after {
  display: none;
}

.followDropdown .dropdown-menu {
  color: var(--secondry-color);
}

.followItem {
  color: var(--secondary-color) !important;
  transition: var(--transition);
  padding: 10px 15px !important;
}

.followItem:hover {
  background-color: var(--primary-color) !important;
}

@media (max-width: 768px) {
  .navbar {
    padding: 5px 0;
  }

  .navbarBrand img {
    max-width: 180px;
  }

  .navbar-toggler {
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
  }

  .navbar-toggler-icon {
    width: 1.2em;
    height: 1.2em;
  }

  .navLink {
    padding: 10px 5px !important;
  }

  .profileImage {
    width: 25px;
    height: 25px;
  }

  .followDropdown {
    width: 100%;
  }

  .followDropdown .dropdown-menu {
    width: 100%;
    color: var(--secondary-color) !important;
  }

  .ifollow .ifollowText {
    color: var(--secondary-color) !important;
  }
  
}

