.rightSidebar {
    padding: 15px;
  }
  
  .adPlaceholder {
    background-color: #fafafa;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #a60d0d solid 1px;
  }
  
  @media (max-width: 768px) {
    .rightSidebar {
      margin-top: 20px;
    }
  }
  