.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
}

.Main {
  flex: 1;
  padding: 20px 0;
}

.leftSidebar {
  border-right: #a60d0d solid 1px;
}

.rightSidebar {
  border-left: #a60d0d solid 1px;
}

.mainContent {
  padding: 0 15px;
}

@media (max-width: 768px) {
  .leftSidebar, .rightSidebar {
    margin-bottom: 20px;
  }
  
  .Main {
    padding: 10px 0;
  }
}
