:root {
  --primary-color: #a60d0d;
  --secondary-color: #D69723;
  --background-color: #fffcec;
  --text-color: #3f3f3f;
  --light-text-color: #555555;
  --border-color: #cfced3;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

.Input {
  background: #ffffff;
  border: 1px solid var(--secondary-color);
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--text-color);
  text-align: left;
  padding: 10px;
  margin-bottom: 15px;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--light-text-color);
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover i {
  color: var(--primary-color);
  transition: color ease-in-out 0.3s;
}

i {
  color: var(--border-color);
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: var(--primary-color);
}

.starRating {
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
}

.starRating i {
  color: #ddd;
  margin-right: 5px;
}

.starRating i.active {
  color: #ffd700;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
